<p *ngIf="!students"><em>Loading data...</em></p>

<fieldset *ngIf='students && students.length'>
  <legend><strong>Pregled i upravljanje zasebnim studentom</strong></legend>
  <div class="table-title pb-3">
    <button type="button" class="btn btn-primary" (click)="openModal(content)">
      Dodaj novog studenta
    </button>
  </div>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>JMBAG</th>
        <th>Studij</th>
        <th>Godina studija</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let student of students'>
        <td>{{student.ime}}</td>
        <td>{{student.prezime}}</td>
        <td>{{student.jmbag}}</td>
        <td>{{student.studij}}</td>
        <td>{{student.godinaStudija}}</td>
        <td>{{student.email}}</td>
        <td>
          <button (click)='openModal(content, student)' type="button" class="btn btn-success"><i
              class="fa fa-edit"></i></button>
          <button (click)='deleteStudent(student.idStudent)' type="button" class="btn btn-danger"><i
              class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalWindowAction}} studenta</h4>
    <button type="button" class="close pb-3" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" class="form" (ngSubmit)="onSubmit(f)">
      <div class="modal-body">
        <div class="form-group">
          <label for="ime">Ime</label>
          <input [class.field-error] = "f.submitted && ime.invalid" id="ime" type="text" name="ime" [(ngModel)]="student.ime" class="form-control" #ime="ngModel" required>
          <div class="error-description" *ngIf="ime.invalid && f.submitted">
            <div *ngIf="ime.errors.required">
              Ime je obvezno polje
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="prezime">Prezime</label>
          <input [class.field-error] = "f.submitted && prezime.invalid" type="text" id="prezime" name="prezime" [(ngModel)]="student.prezime" class="form-control" #prezime="ngModel"
            required>
          <div class="error-description" *ngIf="prezime.invalid && f.submitted">
            <div *ngIf="prezime.errors.required">
              Prezime je obvezno polje
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="jmbag">JMBAG</label>
          <input [class.field-error] = "f.submitted && jmbag.invalid" type="text" id="jmbag" name="jmbag" [(ngModel)]="student.jmbag" class="form-control" #jmbag="ngModel" required>
          <div class="error-description" *ngIf="jmbag.invalid && f.submitted">
            <div *ngIf="jmbag.errors.required">
              JMBAG je obvezno polje
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="studij">Studij</label>
          <input [class.field-error] = "f.submitted && studij.invalid" type="text" id="studij" name="studij" [(ngModel)]="student.studij" class="form-control" #studij="ngModel" required>
          <div class="error-description" *ngIf="studij.invalid && f.submitted">
            <div *ngIf="studij.errors.required">
              Studij je obvezno polje
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="godinaStudija">Godina studija</label>
          <input [class.field-error] = "f.submitted && godinaStudija.invalid" type="number" id="godinaStudija" name="godinaStudija" [(ngModel)]="student.godinaStudija" class="form-control"
            #godinaStudija="ngModel" min=1 max=6 required>
          <div class="error-description" *ngIf="godinaStudija.invalid && f.submitted">
            <div *ngIf="godinaStudija.errors.required">
              Godina studija je obvezno polje
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input [class.field-error] = "f.submitted && email.invalid" [pattern]="emailPattern" type="email" id="email" name="email" [(ngModel)]="student.email" class="form-control" #email="ngModel" required>
          <div class="error-description" *ngIf="email.invalid && f.submitted">
            <div *ngIf="email.errors.required">
              Email je obvezno polje
            </div>
            <div *ngIf="email.errors.pattern">
              Molimo unesite ispravnu email adresu
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">{{modalWindowAction}} studenta</button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Odustani</button>
      </div>
    </form>
  </div>
</ng-template>